@charset "utf-8";

@font-face {
    font-family: "UnageoL";
    src: url("/fonts/UnageoLight.ttf");
}

@font-face {
    font-family: "UnageoB";
    src: url("/fonts/UnageoBold.ttf");
}

@font-face {
    font-family: "UnageoBL";
    src: url("fonts/UnageoBlack.ttf");
}