html {
    background-image: url(/BreathOfTheWild/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'RodinEB';
    user-select: none;
    -webkit-user-drag: none;
}

.logo img {
    position: absolute;
    height: 250px;
    width: auto;
    top: 50px;
    right: 50px;
}

body {
    overflow-x: hidden;
}

h1 {
    position: absolute;
    top: 96px;
    left: 70px;
    color: #fff;
    font-size: 73px;
    padding: 0;
    margin: 0;
    transform: rotate(-3deg)
}

.game-select {
    color: #fff;
}

.game-select img {
    height: 50px;
    width: auto;
    position: fixed;
    bottom: 20px;
    background-color: #fff;
    padding: 6px;
    border-radius: 7px;
    transition: ease-in-out 200ms;
}

.game-select img:hover {
    bottom: 30px;
}

.smo img {
    left: 20px;
}

.botw img {
    left: 130px;
}

.game-select p {
    position: fixed;
    bottom: 0;
    left: 130px;
    font-size: 24px;
}