body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    position: absolute;
    height: 100px;
    width: auto;
    transition: opacity 1s ease-in-out;
}


.text-container {
    text-align: center;
}

h1 {
    font-family: "UnageoB";
    font-size: 70px;
    font-weight: bold;
}

.logo img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2.5vw;
    padding: 15px;
    width: auto;
    transition: 200ms ease-in-out;
}

.logo img:hover {
    transform: scale(1.2);
}