@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --textbox: #3a3a3a;
    --dark-bg: #1b1b1b;
    --accent: #167ad8;
    --white: #fff;
    --btn-col: #4a4949;
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-bg);
    overflow: hidden;
    height: 100%;
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    color: var(--white);
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 900;
}

.contact-left-title hr {
    border: none;
    width: 200px;
    height: 5px;
    border-radius: 100px;
    background-color: var(--white);
    margin-bottom: 10px;
}

.contact-inputs {
    font-size: 14px;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding: 25px;
    color: var(--white);
    border-radius: 50px;
    background-color: var(--textbox);
}

.contact-left textarea {
    resize: none;
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    font-size: 14px;
}

.contact-inputs:focus {
    border: 2px solid var(--white);
}

.contact-inputs::placeholder {
    color: var(--white);
}

.contact-left button {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: var(--white);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: var(--textbox);
}

.contact-left button img {
    height: 15px;
}

.contact-right img {
    width: 500px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact-right img:hover {
    scale: 1.1;
}

.material-symbols-outlined {
	z-index: 99999;
	position: absolute;
	top: 20px;
	left: 50px;
	padding: 10px;
	color: #ffff;
    position: sticky;
    transition: all 0.3s ease-in-out;
}

.material-symbols-outlined:hover {
    left: 35px;
}

@media (max-width:1250px) {

    .contact-inputs {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 80vw;
    }

    .contact-inputs::placeholder {
        position: absolute;
        font-size: 17px;
        top: 13px;
    }

    .contact-right {
        display: none;
    }

    .contact-left-title hr {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 230px;
    }

    .contact-left-title h2 {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 48px;
        width: 80vw;
    }

    .material-symbols-outlined {
		left: 23px;
		top: 15px;
	}
}